<p id="notice"><%= notice %></p>

<h1>Markalar</h1>

<table>
  <thead>
    <tr>
      <th>Marka</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.brand_name %></td>
        <td><%= link_to 'Göster', brand %></td>
        <td><%= link_to 'Düzenle', edit_brand_path(brand) %></td>
        <td><%= link_to 'Sil', brand, method: :delete, data: { confirm: 'Emin misiniz ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Marka', new_brand_path %>
